Repository louffee/canada-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

build(root): create script for transforming TypeScript tokens for SCSS
  scripts/transform_tokens_to_scss.ts
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

chore(deps): update lockfile and dependency cache
  yarn.lock
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

chore(root): add transform-tokens-to-scss script to run
  package.json
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

chore(dev-deps): upgrade lerna to version 6.0.0
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

chore: fix exportation from the utility classes package
  packages/@louffee-utility-classes/.npmignore
  packages/@louffee-utility-classes/package.json
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

refactor(typography): decouple type which TypographyProps extends
  packages/@louffee-typography/src/TypographyProps.ts
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

v0.7.1
  CHANGELOG.md
  lerna.json
  packages/@louffee-typography/CHANGELOG.md
  packages/@louffee-typography/package.json
  packages/@louffee-utility-classes/CHANGELOG.md
  packages/@louffee-utility-classes/package.json
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

refactor(utility-classes): add override ::webkit-scrollbar, track and thumb styles over all DOM tree
  packages/@louffee-utility-classes/src/_root_reset.scss
Due: stylelint --allow-empty-input --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

chore(dev-deps): add stylelint-config-recommended-scss lib in v7.0.0
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

chore(workspace): extend stylelint-config-recommended-scss into stylelint config
  .stylelintrc.js
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

feat: create Dialog component
  packages/@louffee-dialog/package.json
  packages/@louffee-dialog/src/CloseButton/CloseButton.tsx
  packages/@louffee-dialog/src/CloseButton/CloseButtonProps.ts
  packages/@louffee-dialog/src/Dialog.tsx
  packages/@louffee-dialog/src/DialogCloseEvent.ts
  packages/@louffee-dialog/src/DialogCloseEventHandler.ts
  packages/@louffee-dialog/src/DialogContent/DialogContent.tsx
  packages/@louffee-dialog/src/DialogContent/DialogContentProps.ts
  packages/@louffee-dialog/src/DialogFooter/DialogFooter.tsx
  packages/@louffee-dialog/src/DialogFooter/DialogFooterProps.ts
  packages/@louffee-dialog/src/DialogKeyboardCloseEvent.ts
  packages/@louffee-dialog/src/DialogMouseCloseEvent.ts
  packages/@louffee-dialog/src/DialogProps.ts
  packages/@louffee-dialog/src/useBackdropControls/UseBackdropControlsProps.ts
  packages/@louffee-dialog/src/useBackdropControls/useBackdropControls.ts
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

test(stories): add stories for Dialog component
  stories/surfaces/Dialog.stories.tsx
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

chore(cspell): complement cspell known words map
  .cspell.json
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

refactor(dialog): add index file to perform build process
  packages/@louffee-dialog/src/index.ts
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

ci(workflow): use steps.branch-name.outputs.current_branch expression to get branch name in publish
  .github/workflows/publish.yml
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

v0.8.1
  CHANGELOG.md
  lerna.json
  packages/@louffee-dialog/CHANGELOG.md
  packages/@louffee-dialog/package.json
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

refactor(dialog): use a DialogTitle as a separated component which compounds into Dialog component
  packages/@louffee-dialog/src/Dialog.tsx
  packages/@louffee-dialog/src/DialogTitle/DialogTitle.tsx
  packages/@louffee-dialog/src/DialogTitle/DialogTitleProps.ts
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

fix(input): fix redundant typeof clause after label
  packages/@louffee-input/src/Input.tsx
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

refactor(input): use constant MARK: to contain class names for the internal elements [ci skip]
  packages/@louffee-input/src/Input.tsx
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

refactor: add build/index.css as index point for external access in util classes package
  packages/@louffee-utility-classes/package.json
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

v0.8.2
  CHANGELOG.md
  lerna.json
  packages/@louffee-dialog/CHANGELOG.md
  packages/@louffee-dialog/package.json
  packages/@louffee-input/CHANGELOG.md
  packages/@louffee-input/package.json
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

refactor: fix path to build/index.css in postscs config file
  packages/@louffee-utility-classes/package.json
  postcss.config.js
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

v0.8.3
  CHANGELOG.md
  lerna.json
  packages/@louffee-dialog/CHANGELOG.md
  packages/@louffee-dialog/package.json
  packages/@louffee-input/CHANGELOG.md
  packages/@louffee-input/package.json
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

refactor(input): resolve the label for a smaller and more UI-consistent rendering
  packages/@louffee-input/src/Input.tsx
  packages/@louffee-style-system/src/LouTheme.ts
  packages/@louffee-utility-classes/src/_tokens.scss
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

chore: add 'colors' package to the repository as dev-dependency
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

v0.8.4
  CHANGELOG.md
  lerna.json
  packages/@louffee-dialog/CHANGELOG.md
  packages/@louffee-dialog/package.json
  packages/@louffee-input/CHANGELOG.md
  packages/@louffee-input/package.json
  packages/@louffee-style-system/CHANGELOG.md
  packages/@louffee-style-system/package.json
  packages/@louffee-utility-classes/CHANGELOG.md
  packages/@louffee-utility-classes/package.json
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Path conditions:
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  eslint --fix: any of: *.{ts,tsx}
  stylelint --allow-empty-input --fix: any of: *.{css,scss}
  prettier --ignore-unknown --write: any of: *
  cspell --no-must-find-files --no-progress: any of: *
