Repository louffee/canada-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{css,scss}": ["stylelint --allow-empty-input --fix"],
  "*": ["prettier --ignore-unknown --write", "cspell --no-must-find-files --no-progress"]
}

ci: alter from development to develop the name of the rc pipeline branch
  .github/workflows/publish.yml
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

docs: declare MARK comments to determine regions in the CircularProgress.tsx
  packages/@louffee-circular-progress/src/CircularProgress.tsx
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

refactor(style-system/lou-theme): replace 110% by 100% line-height for title-like variants
  packages/@louffee-style-system/src/LouTheme.ts
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

feat: create Sidebar component
  packages/@louffee-sidebar/package.json
  packages/@louffee-sidebar/src/Sidebar.tsx
  packages/@louffee-sidebar/src/SidebarContentItem.ts
  packages/@louffee-sidebar/src/SidebarItem/SidebarItem.tsx
  packages/@louffee-sidebar/src/SidebarItem/SidebarItemProps.ts
  packages/@louffee-sidebar/src/SidebarItem/SidebarSelectEvent.ts
  packages/@louffee-sidebar/src/SidebarProps.ts
  packages/@louffee-sidebar/src/renderSidebarItem.tsx
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

test(stories): create stories for the Sidebar component
  stories/navigation/Sidebar.stories.tsx
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

refactor(sidebar): add onSelect event handler for Sidebar component
  packages/@louffee-sidebar/package.json
  packages/@louffee-sidebar/src/Sidebar.tsx
  packages/@louffee-sidebar/src/SidebarContentItem.ts
  packages/@louffee-sidebar/src/SidebarItem/SidebarItem.tsx
  packages/@louffee-sidebar/src/SidebarItem/SidebarItemProps.ts
  packages/@louffee-sidebar/src/SidebarProps.ts
  packages/@louffee-sidebar/src/SidebarSelectEvent.ts
  packages/@louffee-sidebar/src/SidebarSelectEventHandler.ts
  packages/@louffee-sidebar/src/renderSidebarItem.tsx
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

refactor(sidebar): isolate a ListItemProps interface to contain props to styled component
  packages/@louffee-sidebar/src/SidebarItem/SidebarItem.tsx
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

refactor(sidebar): disable indent eslint rule from a scope in the SidebarItem component
  packages/@louffee-sidebar/src/SidebarItem/SidebarItem.tsx
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

refactor(sidebar): add index file and fix build issues
  packages/@louffee-sidebar/src/Sidebar.tsx
  packages/@louffee-sidebar/src/index.ts
  packages/@louffee-sidebar/src/renderSidebarItem.tsx
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

refactor(style-system): add !important flag to lineHeight because this shall never be changed
  packages/@louffee-style-system/src/LouTheme.ts
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

refactor(typography): improve code setting and remove always-set weight to 400
  packages/@louffee-typography/src/Typography.tsx
  packages/@louffee-typography/src/TypographyElementTypeAs.ts
  packages/@louffee-typography/src/TypographyProps.ts
  packages/@louffee-typography/src/elementsPerVariantMap.ts
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

chore: add vscode settings to a recommendation config in .vscode folder
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

feat: create a new component: Card
  packages/@louffee-card/package.json
  packages/@louffee-card/src/Card.tsx
  packages/@louffee-card/src/CardElevation.ts
  packages/@louffee-card/src/CardProps.ts
  packages/@louffee-card/src/CardRadii.ts
  packages/@louffee-card/src/index.ts
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

test(stories): add a constant list of typography variants in thereof stories file
  stories/miscellaneous/Typography.stories.tsx
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

test(stories): add stories for the Card component
  stories/surfaces/Card.stories.tsx
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

refactor(sidebar): set title typography variant to a lighter and easier type in user's sight
  packages/@louffee-sidebar/src/Sidebar.tsx
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

feat: create new component: Backdrop
  packages/@louffee-backdrop/package.json
  packages/@louffee-backdrop/src/Backdrop.tsx
  packages/@louffee-backdrop/src/BackdropBlur.ts
  packages/@louffee-backdrop/src/BackdropProps.ts
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

test(stories): add stories for the Backdrop component
  stories/surfaces/Backdrop.stories.tsx
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

chore(workspace): set commitlint to be stricter when it comes down to scope of commit messages
  .commitlintrc.js
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

ci(workflow): set publish pipeline to run at pushing for any of main or develop branches
  .github/workflows/publish.yml
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

ci(workflow): remove if clause to run publish pipeline every push into master and develop branches
  .github/workflows/publish.yml
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

chore(deps): add is-ci to the development dependencies
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

chore(workflow): tell prepare-commit-msg not to run /dev/tty unless it's not running on ci
  .husky/prepare-commit-msg
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

chore(workflow): tell pre-commit not to run /dev/tty unless it's not running on ci
  .husky/pre-commit
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

refactor(backdrop): add index file
  packages/@louffee-backdrop/src/index.ts
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

chore(workflow): add "npx" prefix to execute is-ci check before pre-commit main thread
  .husky/pre-commit
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

chore(root): artifically change the lerna root version to v0.5.0
  lerna.json
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

chore(root): add lerna.json file to .prettierignore list [ci skip]
  .prettierignore
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

chore(root): set compiler to resolve json modules
  tsconfig.json
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

build(root): migrate to use TypeScript-written scripts
  scripts/build.ts
  scripts/install_lint_deps.ts
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

ci(root): in install_lint_deps: beautify output and get package metadata via require
  scripts/install_lint_deps.ts
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

chore(root): ignore .js files in scripts folder from now on
  .gitignore
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

ci(root): adapt scripts to follow the changes from the scripts folder
  package.json
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

chore(dev-deps): add @types/node at the version of ^18.8.3
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

style(root): remove white-space in string set to log in install_lint_deps script
  scripts/install_lint_deps.ts
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

docs(backdrop): add MARK sign to backdrop JSX area
  packages/@louffee-backdrop/src/Backdrop.tsx
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

feat(utility-classes): replace script for generating CSS utilities by SCSS
  packages/@louffee-utility-classes/package.json
  packages/@louffee-utility-classes/scripts/build_utility_classes.js
  packages/@louffee-utility-classes/src/_button_anchor_defaults.scss
  packages/@louffee-utility-classes/src/_displays.scss
  packages/@louffee-utility-classes/src/_flex_grow.scss
  packages/@louffee-utility-classes/src/_flex_number.scss
  packages/@louffee-utility-classes/src/_flex_positioning.scss
  packages/@louffee-utility-classes/src/_flex_util.scss
  packages/@louffee-utility-classes/src/_gap.scss
  packages/@louffee-utility-classes/src/_index.scss
  packages/@louffee-utility-classes/src/_root_reset.scss
  packages/@louffee-utility-classes/src/_to_rem.scss
  packages/@louffee-utility-classes/src/_tokens.scss
  packages/@louffee-utility-classes/src/_transition.scss
  packages/@louffee-utility-classes/src/box/_padding.scss
  packages/@louffee-utility-classes/src/box/_padding_bottom.scss
  packages/@louffee-utility-classes/src/box/_padding_left.scss
  packages/@louffee-utility-classes/src/box/_padding_right.scss
  packages/@louffee-utility-classes/src/box/_padding_top.scss
  packages/@louffee-utility-classes/src/box/_padding_x.scss
  packages/@louffee-utility-classes/src/box/_padding_y.scss
  packages/@louffee-utility-classes/src/insets/_bottom.scss
  packages/@louffee-utility-classes/src/insets/_insets.scss
  packages/@louffee-utility-classes/src/insets/_left.scss
  packages/@louffee-utility-classes/src/insets/_position.scss
  packages/@louffee-utility-classes/src/insets/_right.scss
  packages/@louffee-utility-classes/src/insets/_top.scss
  packages/@louffee-utility-classes/src/measures/_height.scss
  packages/@louffee-utility-classes/src/measures/_max_height.scss
  packages/@louffee-utility-classes/src/measures/_max_width.scss
  packages/@louffee-utility-classes/src/measures/_width.scss
  packages/@louffee-utility-classes/src/typography/_font_sizes.scss
  packages/@louffee-utility-classes/src/typography/_font_weights.scss
Due: stylelint --allow-empty-input --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

refactor(style-system): replace toRem(50) by 9999 in rounded radii theme set
  packages/@louffee-style-system/src/LouTheme.ts
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress
